@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

@import 'base/null';
@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
	width: 60px;
	height: 3px;
	background-color: $main-color;
	margin: 25px auto 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/price';
@import 'blocks/contacts';

@import 'blocks/media';


.personal-menu {
    display: block;
    margin: 0 auto;
    &__list {
    }
    &__link a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        background-color: #797979;
        color: #ff9101;
        font-size: 15px;
        transition: all 0.7s;
        transform: skewY(-20deg);
        &:hover {
            transform: translateX(-50px);
            transition: all 0.7s;
        }
    }
}